<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CellCountX.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CellCountX.Wpf.Properties.Settings>
            <setting name="UseGpu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="CellposeModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseEdgeFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEdgeTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEdgeBottom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEdgeLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEdgeRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EdgeMargin" serializeAs="String">
                <value>2</value>
            </setting>
        </CellCountX.Wpf.Properties.Settings>
    </userSettings>
</configuration>